<section class="services">
    <div class="container">
        <div class="row no-gutters">

            <h2 class="title">{{ article.title }}</h2>


            {{ article.main_text | raw }}

            <h3>Отзывы</h3>


            <div class="feedback">
                {% for feedback in feedbacks %}
                    <div class="feedback__item">
                        <div class="feedback__item feedback__message">
                                {{ feedback.question }}
                        </div>
                        <div class="feedback__author">{{ feedback.name }}</div>
                    </div>
                {% endfor %}
            </div>


        </div>
    </div>
</section>

