<section class="header-carousel">
    <div class="container-fluid">

            <div class="top-slider row">
                <div class="header-slide js_slide">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="header-slide__flex-container">
                                <icon id="logo" class="header-carousel__logo" width="293" height="293"></icon>
                                <div class="header-slide__text-container">
                                    <div class="header-slide__title">
                                        ВАЛКА ДЕРЕВЬЕВ
                                    </div>
                                    <div class="header-slide__subtitle">
                                        CЛОЖНЫХ И НЕ ОЧЕНЬ
                                        <br>
                                        <span class="letter-spacing">
                  ЧАСТЯМИ И ЦЕЛИКОМ
                </span>
                                    </div>
                                </div>
                                <img class="header-carousel__label" src="/assets/pctrs/label.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-slide header-slide_2 js_slide">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="header-slide__flex-container">
                                <img class="header-carousel__label" src="/assets/pctrs/label.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-slide header-slide_3 js_slide">
                    <div class="container">
                        <div class="row no-gutters">
                            <div class="header-slide__flex-container">
                                <div class="header-slide__text-container">
                                    <div class="header-slide__title">
                                        ВАЛКА ДЕРЕВЬЕВ
                                    </div>
                                    <div class="header-slide__subtitle">
                                        cложных и не очень
                                        <br>
                                        <span class="letter-spacing">
                  частями и целиком
                </span>
                                    </div>
                                </div>
                                <img class="header-carousel__label" src="/assets/pctrs/label.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



</section>


<section class="services">
    <div class="container">
        <div class="row no-gutters">

            <h2 class="title">НАШИ УСЛУГИ</h2>

            <div class="services__flex">
                <div class="services__item">
                    <img class="services__image" src="/assets/pctrs/delete-tree.png" alt="">
                    <p class="services__label">валка</p>
                </div>
                <div class="services__item">
                    <img class="services__image" src="/assets/pctrs/pruning.png" alt="">
                    <p class="services__label">обрезка</p>
                </div>
                <div class="services__item">
                    <img class="services__image" src="/assets/pctrs/stump.png" alt="">
                    <p class="services__label">удаление<br>пней</p>
                </div>
                <div class="services__item">
                    <img class="services__image" src="/assets/pctrs/removal.png" alt="">
                    <p class="services__label">утилизация/<br>вывоз</p>
                </div>
                <div class="services__item">
                    <img class="services__image" src="/assets/pctrs/bonfire.png" alt="">
                    <p class="services__label">дрова</p>
                </div>
                <div class="services__item">
                    <img class="services__image" src="/assets/pctrs/complex.png" alt="">
                    <p class="services__label">комплексный<br>подход</p>
                </div>
            </div>

            <button class="large-button">ОТПРАВИТЬ ЗАЯВКУ</button>

        </div>
    </div>
</section>

<section class="photo">
    <div class="container">

            <h2 class="title">ПОСЛЕДНИЕ ФОТО</h2>

            <div id="photo-slider" class="photo__slider slider js_slider">
                <div class="photo__slide js_slide"><a href="/assets/pctrs/slide-1.jpg" class="data-fancybox" data-fancybox="group" data-caption="My caption"><img src="/assets/pctrs/slide-1.jpg" alt=""></a></div>
                <div class="photo__slide js_slide"><a href="/assets/pctrs/slide-2.jpg" class="data-fancybox" data-fancybox="group" data-caption="My caption"><img src="/assets/pctrs/slide-2.jpg" alt=""></a></div>
                <div class="photo__slide js_slide"><a href="/assets/pctrs/slide-3.jpg" class="data-fancybox" data-fancybox="group" data-caption="My caption"><img src="/assets/pctrs/slide-3.jpg" alt=""></a></div>
                <div class="photo__slide js_slide"><a href="/assets/pctrs/slide-4.jpg" class="data-fancybox" data-fancybox="group" data-caption="My caption"><img src="/assets/pctrs/slide-4.jpg" alt=""></a></div>
                <div class="photo__slide js_slide"><a href="/assets/pctrs/slide-1.jpg" class="data-fancybox" data-fancybox="group" data-caption="My caption"><img src="/assets/pctrs/slide-1.jpg" alt=""></a></div>
                <div class="photo__slide js_slide"><a href="/assets/pctrs/slide-2.jpg" class="data-fancybox" data-fancybox="group" data-caption="My caption"><img src="/assets/pctrs/slide-2.jpg" alt=""></a></div>
                <div class="photo__slide js_slide"><a href="/assets/pctrs/slide-3.jpg" class="data-fancybox" data-fancybox="group" data-caption="My caption"><img src="/assets/pctrs/slide-3.jpg" alt=""></a></div>
                <div class="photo__slide js_slide"><a href="/assets/pctrs/slide-4.jpg" class="data-fancybox" data-fancybox="group" data-caption="My caption"><img src="/assets/pctrs/slide-4.jpg" alt=""></a></div>
            </div>

        </div>

</section>

<section class="work">
    <div class="container">
        <div class="row no-gutters">

            <h2 class="title">РАБОТАТЬ С НАМИ ПРОСТО</h2>

            <div class="work__flex">
                <div class="work__item">
                    <img class="work__image work__image_phone" src="/assets/pctrs/contacts.png" alt="">
                    <div class="work__txt"><span>Ваш звонок<br>или заявка на сайте</span></div>
                </div>
                <div class="work__item">
                    <img class="work__image" src="/assets/pctrs/calendar.png" alt="">
                    <div class="work__txt"><span>Оценка работы,<br>согласование сроков</span></div>
                </div>
                <div class="work__item">
                    <img class="work__image work__image_man" src="/assets/pctrs/mini-logo.png" alt="">
                    <div class="work__txt"><span>Выполнение<br>работ</span></div>
                </div>
                <div class="work__item">
                    <img class="work__image" src="/assets/pctrs/money.png" alt="">
                    <div class="work__txt"><span>Оплата</span></div>
                </div>
                <div class="work__line"></div>
            </div>

            <button class="large-button">ОТПРАВИТЬ ЗАЯВКУ</button>

        </div>
    </div>
</section>

<div class="reviews">
    <div class="container">

            <h2 class="reviews__title title">ОТЗЫВЫ</h2>

            <div id="reviews-slider" class="reviews__slider slider js_slider">

                <div class="reviews__slide js_slide">
                    <div class="reviews__message">
                        <span>
                          Команда выполнила задачу по удалению двух старых деревьев,
                          расположенных рядом с домом, быстро и очень умело.<br>
                          Я так долго морально готовилась к этому событию, а на деле все оказалось не так страшно.
                          Дело мастера боится!
                        </span>
                    </div>
                    <div class="reviews__author">Екатерина, владелец дачного участка </div>
                </div>

                <div class="reviews__slide js_slide">
                    <div class="reviews__message">
                        <span>
                          Команда выполнила задачу по удалению двух старых деревьев,
                          расположенных рядом с домом, быстро и очень умело.<br>
                          Я так долго морально готовилась к этому событию, а на деле все оказалось не так страшно.
                          Дело мастера боится!
                        </span>
                    </div>
                    <div class="reviews__author">Екатерина, владелец дачного участка </div>
                </div>

                <div class="reviews__slide js_slide">
                    <div class="reviews__message">
                        <span>
                          Команда выполнила задачу по удалению двух старых деревьев,
                          расположенных рядом с домом, быстро и очень умело.<br>
                          Я так долго морально готовилась к этому событию, а на деле все оказалось не так страшно.
                          Дело мастера боится!
                        </span>
                    </div>
                    <div class="reviews__author">Екатерина, владелец дачного участка </div>
                </div>

            </div>
    </div>
</div>

<section class="form">
    <div class="container">
        <div class="row no-gutters">
            <h2 class="title">РАССЧИТАТЬ СТОИМОСТЬ ЗАКАЗА</h2>
            <span class="form__subtitle">Заполните форму и мы свяжемся с вами в ближайшее время</span>
        </div>
        <form method="post">
            <div class="row no-gutters">
                <div class="form__flex">
                    <div class="form__item">
                        <label class="form__label">Имя: </label>
                        <label class="form__custom-border">
                            <input class="form__input" type="text" placeholder="Введите имя">
                        </label>
                        <label class="form__label">Телефон: </label>
                        <label class="form__custom-border">
                            <input id="phone-input" class="form__input" type="tel" placeholder="+7 (_ _ _) _ _ _ -_ _- _ _">
                        </label>
                        <label class="form__label">E-mail: </label>
                        <label class="form__custom-border">
                            <input class="form__input" type="email" placeholder="Введите электронный адрес">
                        </label>
                        <label class="form__label">Виды работ:</label>
                        <label class="form__custom-border">
                            <div class="form__triangle"></div>
                            <select class="form__select">
                                <option>Валка деревьев1</option>
                                <option>Валка деревьев2</option>
                                <option>Валка деревьев3</option>
                            </select>
                        </label>
                    </div>
                    <div class="form__item">
                        <label class="form__label">Если есть фото: </label>
                        <input class="form__file-input" type="file" name="photos" accept=".jpg, .png, .bmp">
                        <input class="form__file-input form__file-input_hidden-sm" type="file" name="photos" accept=".jpg, .png, .bmp">
                        <input class="form__file-input form__file-input_hidden-sm" type="file" name="photos" accept=".jpg, .png, .bmp">
                        <label class="form__label">Описание проблемы: </label>
                        <label class="form__custom-border form__custom-border_fixed-height">
                            <textarea class="form__textarea" maxlength="500" placeholder="Нужно свалить сосну высотой с двухэтажный дом."></textarea>
                        </label>
                    </div>
                </div>
                <button class="large-button" type="submit">РАССЧИТАТЬ СТОИМОСТЬ</button>
            </div>
        </form>
    </div>
</section>