<tr>
    <td><textarea name="cite_text[{{ id }}]" class="form-control input-sm"></textarea></td>
    <td><input value="yes" name="delete_cite[{{ id }}]" type="checkbox" class="subdep-manage" class="subdep-manage" data-role="delete" /></td>
    <input type="hidden" name="exists[{{ id }}]" value="yes" />
</tr>
