<h1>Настройки сайта</h1>

<form action="" enctype="multipart/form-data" method="post" class="form">

    <div class="form-group panel panel-info">
        <div class="panel-heading">
            Колонка 1
        </div>
        <div class="panel-body">
            <div class="form-group">
                <textarea name='col1' id='col1' class="mceEditor form-control input-sm" style="height: 250px;">{{ settings.col1 }}</textarea>
            </div>
        </div>
    </div>

    <div class="form-group panel panel-info">
        <div class="panel-heading">
            Колонка 2
        </div>
        <div class="panel-body">
            <div class="form-group">
                <textarea name='col2' id='col2' class="mceEditor form-control input-sm" style="height: 300px;">{{ settings.col2 }}</textarea>
            </div>
        </div>
    </div>

    <div class="form-group panel panel-info">
        <div class="panel-heading">
            Колонка 3
        </div>
        <div class="panel-body">
            <div class="form-group">
                <textarea name='col3' id='col3' class="mceEditor form-control input-sm" style="height: 300px;">{{ settings.col3 }}</textarea>
            </div>
        </div>
    </div>

    <input value="Внести изменения" name="Update" type="submit" class="btn btn-default" />
</form>

</td>
</tr>
</table>

